*
!.vscode
!.vscode/**
.vscode/launch.json
.vscode/settings.json
!doc
!doc/**
doc/ft_matt-daemon\ 4.1.pdf
!inc
!inc/**
!src
!src/**
!Ben_AFK
!Ben_AFK/**
Ben_AFK/build
Ben_AFK/build/**
Ben_AFK/Ben_AFK
!Makefile
!.gitignore
!README.md
!LICENSE
!TODO.md