*
!.vscode
!.vscode/**
.vscode/launch.json
.vscode/settings.json

!doc
!doc/**
doc/ft_matt-daemon\ 4.1.pdf

!Daemon
!Daemon/**
Daemon/build
Daemon/build/**
Daemon/MattDaemon

!Ben_AFK
!Ben_AFK/**
Ben_AFK/build
Ben_AFK/build/**
Ben_AFK/Ben_AFK

!.gitignore
!README.md
!LICENSE